<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<!-- Materialize Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Materialize CSS Framework -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- JavaScript for Materialize -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/cakes" class="waves-effect waves-light btn" <%- title === 'Cakes' ? 'class="active"' : '' %>>CAKES</a>
        <a href="/cookies" class="waves-effect waves-light btn" <%- title === 'Cookies' ? 'class="active"' : '' %>>COOKIES</a>
        <a href="/breads" class="waves-effect waves-light btn" <%- title === 'Bread' ? 'class="active"' : '' %>>BREAD</a>
        <a href="/candies" class="waves-effect waves-light btn" <%- title === 'Candy' ? 'class="active"' : '' %>>CANDY</a>
        <a href="/pies"  class="waves-effect waves-light btn"<%- title === 'Pies' ? 'class="active"' : '' %>>PIES</a>
        <a href="/misc"  class="waves-effect waves-light btn"<%- title === 'All Others' ? 'class="active"' : '' %>>ALL OTHERS</a>

        <ul class="right">
            <li>
            <li><a href="/foodies"><i class="material-icons left">home</i>Home</a></li>
            <!-- new html below -->
            <% if (user) { %>
                <a href="/logout" class="waves-effect waves-light btn"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
                <a href="/auth/google" class="waves-effect waves-light btn"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
            </li>
        </ul>
    </nav>
    <main>
        <h1><%= title %></h1>