<%- include('../partials/header') %>

    <h1><%= room.title %></h1>
    <div id="comment-box" class="container"></div>
    <% room.comments.forEach(function(comment) { %>
        <p> <%= comment.text %></p>
        <form action="/rooms/<%=room._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
        <button id="del-btn">DELETE</button>
        </form>
    <%}) %>
    <div class="postcard container">
        <form action="/rooms/<%=room._id%>/comments" method="POST">
            <input placeholder="COMMENT SOMETHING??" name="text">
            <button type="submit" class="waves-effect waves-light btn">SUBMIT</button>
        </form>
    </div>

<%- include('../partials/footer') %>